# Postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=Dedos2003),
DB_NAME=habitsdb

SECRET_KEY=a7d938e5c1e9f54b8d30440a18179dad6d980549e53e5a516fdef145a0b2c04c
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=2

API_URL_PREFIX=http://localhost:8000
